<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
          xmlns:tools="http://schemas.android.com/tools">
    <uses-permission android:name="android.permission.MANAGE_EXTERNAL_STORAGE" />
    <application>
        <activity
                android:name="com.Rovio.Unity.PermissionGateActivity"
                android:theme="@style/UnityThemeSelector"
                android:exported="true"
                android:configChanges="mcc|mnc|locale|touchscreen|keyboard|keyboardHidden|navigation|orientation|screenLayout|uiMode|screenSize|smallestScreenSize|density|layoutDirection|fontScale"
                android:hardwareAccelerated="false"
                android:launchMode="singleTask"
                android:resizeableActivity="false"
                android:screenOrientation="userLandscape">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
                android:name="com.unity3d.player.UnityPlayerActivity"
                android:theme="@style/UnityThemeSelector"
                android:exported="false"
                android:configChanges="mcc|mnc|locale|touchscreen|keyboard|keyboardHidden|navigation|orientation|screenLayout|uiMode|screenSize|smallestScreenSize|density|layoutDirection|fontScale"
                android:hardwareAccelerated="false"
                android:launchMode="singleTask"
                android:resizeableActivity="false"
                android:screenOrientation="userLandscape">
            <meta-data android:name="unityplayer.UnityActivity" android:value="true" />
        </activity>
        <activity
                android:name="com.innovation.filedialog.FileDialogBridge$FileDialogActivity"
                android:theme="@android:style/Theme.NoTitleBar.Fullscreen"
                android:exported="false"
                android:configChanges="mcc|mnc|locale|touchscreen|keyboard|keyboardHidden|navigation|orientation|screenLayout|uiMode|screenSize|smallestScreenSize|density|layoutDirection|fontScale"
                android:screenOrientation="userLandscape">
        </activity>
    </application>
</manifest>